@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Bitter&family=Caveat:wght@500&family=Chivo:wght@300&family=Dancing+Script:wght@500&family=Great+Vibes&family=Josefin+Sans:wght@300&family=Kalam:wght@300&family=Quicksand&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Satisfy&family=Titillium+Web&display=swap');


:root{
    --page-head:'Great Vibes', 'cursive';
    --page-topic:'Vollkorn', serif;
    --ing-proc:'Satisfy', 'cursive';
    --nutri:'Titillium Web', sans-serif;
    --all-headings:'Fira Sans Condensed', sans-serif;

}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    background-image:url(.../images/bground.jpg);
    background-size: cover;
    overflow-x: hidden;
}
nav{
    /* border:2px solid red; */
    margin-top:53px;
    height:120px;
    width:100%;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
header>h2{
    margin-left: 2em;
    margin-right: auto;
    color:#f9f071;
    font-size:40px;
    font-family: var(--page-head);
    padding-top:20px;
}
nav>ul>li{
    list-style-type: none;
    margin-right:3em;
    display: inline-block;
}
nav>ul>li>a{
    text-decoration: none;
    color:#F9F871;
    font-family: var(--all-headings);
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}
nav>ul>li>a:hover{
    color:orangered;
}
nav>ul>li{
    transition: all 0.5s ease-in-out;
}
nav>ul>li:hover{
    transform:scale(1.1);
}
header{
    position:relative;/* for heading alignment only in recipe pages*/
    width:100%;
    height:250px;
    background-image: url(/images/bgimage.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.intro_heading{
    position:absolute;
    color:rgb(240, 237, 237);
    left:15%;
    top:35%;
    font-family: var(--page-topic);
    font-size: 22px;
    letter-spacing: 5px;
}
.intro_heading>p{
    font-size:20px;
    letter-spacing:2px;
    color:#F9F871;
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:15px;
}
#heading{
    font-family:var(--page-topic);
    text-align: center;
    font-size:25px;
}
.recipe{
    border:2px solid rgba(255, 255, 255, 0.475);
    width:68%;
    height: 70%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: 50px;
    color:white;
    padding:20px 0px;
}
.nutritions{
    border:2px solid rgba(255, 255, 255, 0.475);
    width:23%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: 50px;
    color:white;
    padding:12px;
}
.ingredients>h3{
    font-family:var(--ing-proc);
    letter-spacing: 2.5px;
    color:#F9F871;
}
.procedure{
    width:60%;
}
.procedure>h3{
    margin-left:-18px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-family:var(--ing-proc);
    letter-spacing: 2.5px;
    color:#F9F871;
}
.recipe{
    font-size:20px;
    display: flex;
    justify-content: space-around;
    
}
table{
    color:white;
    font-size:25px;
    border-collapse: collapse;
    border-spacing: 2px;
}
table caption{
    margin-bottom: 10px;
    color:#F9F871;
    font-family: var(--nutri);
}
table tr td:last-child,table tr th:last-child{
    text-align:end;
}
table tr th:first-child{
    text-align:start;
}
.ing-tbl{
    font-size:20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.ing-tbl tr td:nth-child(2){
    text-align: center;
    width:50px;
}
.ing-tbl tr td:last-child{
    text-align:start;
}
.procedure>ol>li{
    line-height: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.ingredients{
    margin-left:1rem;
    margin-top: 1.5rem;
    line-height: 30px;
    /* border:2px solid red; */
}
.ingredients>h3{
    margin-bottom:5px;
    text-decoration: underline;
}
.nutrition tr td{
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding:5px;   
}
.nutrition tr th{
    color:burlywood
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgba(25,25,25);
    background-size: cover;
    color:#F9F871;
    font-size:20px;
    margin-top:15px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
footer>h4{
    margin-left: 4rem;
}
footer>h2{
    font-size: 32px;
    margin-top: 10px;
    font-family: var(--page-head);
}
footer>ul>li>a{
    text-decoration: none;
    color:#F9F871;
    font-family: var(--all-headings);
    font-size: 20px;
}
footer>ul>li{
    display: inline-block;
    list-style-type: none;
    margin-right:30px;
}
footer>ul>li:last-child{
    margin-right:4em;
}
